/* change box model */
:root {
  box-sizing: border-box;
}
*, ::before, ::after {
  box-sizing: inherit;
}
/* fix main margins */
body {
  margin: 0;
}
header h1 {
  margin: 0;
}

/* background colors and global font */
body {
  /*background-color: #ffdf80;*/
  background-image: url("slonce.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Courgette', cursive;
}
.container {
  background-color: rgba(255, 210, 77, 0.2);
  border-radius: 25px;
}
.footer {
  background-color: rgba(255, 210, 77, 0.4);
  border-radius: 0px 0px 25px 25px;
}
.header {
  background-color: #fcde83;
  border-radius: 25px;
}
nav ul {
  background-color: #ffcc80;
}
nav li {
  background-color: #ffae00;
  border-color: #fdd;
}
main {
  background-color: #ffff99;
  text-align: center;
}
aside {
  background-color: rgba(255, 234, 128, .85);
  text-align: left;
}

/* move elements from borders */
main > *, aside > * {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* use at least 50% of height (stretch background color) */
.main {
  display: flex;
  min-height: 50vh;
}
/* place footer sized 3em at bottom of page */
.container {
  position: relative;
}
.main {
  padding-bottom: 3rem;
}
.footer {
  position: absolute;
  bottom: 0;
  height: 3rem;
  width: 100%;
}

/* center text in footer */
.footer {
  text-align: center;
}

/* adjust header */
header h1 {
 padding: 0.67em;
 text-align: center;
}

/* menu */
nav ul {
  list-style: none;
  margin: 0;
  padding: 5px;
  text-align: center;
}
nav li {
  display: table-cell;
  width: 200px;
  border-width: 5px;
  border-style: groove;
  line-height: 2em;
  border-color: #804d00;
}
nav a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #000;
}
nav a#active {
  font-weight: bold;
}

/* default layout for small screens */
.main {
  flex-wrap: wrap;
}
main, aside {
  flex: 0 0 100%;
}

/* design for large screens */
@media all and (min-width: 800px) {
  /* constant width, centered */
  .container {
    width: 800px;
    margin: 0 auto;
  }
  /* 2 columns layout using flexbox */
  .main {
    flex-wrap: nowrap;
  }
  main {
    flex: 7;
  }
  aside {
    flex: 3;
  }
}
table {
	background-color: #ccff66;
	border: 1px solid black;
    border-collapse: collapse;
}
th {
    background-color: #4CAF50;
    color: white;
	border: 1px solid black;
}
td {
	border: 1px solid black;
}
tr:nth-child(even) {background-color: #99ccff;}
.centerp { 
    height: 200px;
    position: relative;
}

.centerp p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.clearfix {
    overflow: auto;
}